body {
  margin: 0;
  padding: 0;
}
body #app .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  font-size: 90px;
}
body #app .container .time-wrapper {
  width: 185px;
  text-align: center;
}
body #app .container .pause {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: url("images/pause-btn.png") no-repeat center;
  background-size: cover;
}
body #app .container .play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: url("images/btn-play.png") no-repeat center;
  background-size: cover;
}
body #app .container .reload {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: url("images/reload-btn.png") no-repeat center;
  background-size: cover;
}
body #app .container .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}
body #app .container .play:focus,
body #app .container .pause:focus,
body #app .container .reload:focus {
  outline: none;
}
