body {
	margin: 0;
	padding: 0;
	#app {
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'Indie Flower', cursive;
			font-size: 90px;
			.time-wrapper {
				width: 185px;
				text-align: center;
			}
			.pause {
				.btn;
				background: url("./images/pause-btn.png") no-repeat center;
				background-size: cover;
			}
			.play {
				.btn;
				background: url("./images/btn-play.png") no-repeat center;
				background-size: cover;
			}
			.reload {
				.btn;
				background: url("./images/reload-btn.png") no-repeat center;
				background-size: cover;
			}
			.btn {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				border: none;
			}
			.play:focus, .pause:focus, .reload:focus {
				outline: none;
			}
		}
	}
}